*{ box-sizing: border-box;
padding: 0;
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #969799;
}
.container{
    width: 100%;
    height:100vh ;
   background-color: #969799;
   display: flex;
   align-items: center;
   justify-content: center;

} 
.form-content{
    width: 100%;
    max-width: 450px;
    background-color:rgba(70, 70, 78, 0.37) ;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.form-content h1 {
font-size: 40px;
margin-bottom: 50px;
  color: #FF64AA;
  position: relative;
}
.form-content h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: pink;
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);

}
.input-field{
  
    background-color: #484e57;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items:center;
    transition: max-height 0.5s;
    overflow: hidden;
   
}


input{ 
    width: 100%; 
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: white;
    }
    input ::placeholder{
        color: white;
    }
 
form{ 

p{
    color:white;
    text-align: center;
    font-size: 13px;
}
a{
    color: #FF64AA;
    margin-left: 5px;
}
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;

    button{
        flex-basis: 48%;
        font-size: 16px;
        background-color: pink;
        color: white;
        height: 40px;
        border-radius: 5px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background 1s; 
        
        

    }
    .disable{
        background-color: black;
    }
}
.input-field i {
    margin-left: 15px;
    color: #FF64AA;
    

}
.input-group{
    height: 360px;
}
.boton{ font-size: 16px;
color: #FF64AA;
background-color: white;
transition: background 1s;
height: 40px;
width: 100%;
margin: 20px;
cursor: pointer;}

